target/
node_modules/
dist/
__tests__/*.json
.DS_Store
.secrets
.idea
.yalc
yalc.lock
.history/
pkg/
# so that each developer won't overwrite their own local contract address
contracts-registry.address.test.txt
wallets/
cache/
.devcontainer